.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1111119d;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s 0.9s;
  --transform: translateY(-100vh);
  --transition: transform 0.8s;
  z-index: 1;
}

.modal--show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 0.6s;
  --transform: translateY(0);
  --transition: transform 0.8s 0.8s;
}

.modal__container {
  margin: auto;
  width: 90%;
  transform: var(--transform);
  transition: var(--transition);
}

.form-container {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 4px;
  padding: 70px;
  width: 450px;
  height: auto;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.507);
  font-family: "Pixelify Sans", sans-serif;
}
.form-container h2 {
  color: #fff;
  font-size: 2rem;
}
.form-container form {
  margin: 25px 0 65px;
}
form .form-control {
  height: 50px;
  position: relative;
  margin-bottom: 16px;
}
.form-control input {
  height: 100%;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  padding: 0 20px;
}
.form-control input:is(:focus, :valid) {
  background: #444;
  padding: 16px 20px 0;
}

.form-control label {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none;
  color: #8c8c8c;
  transition: all 0.1s ease;
}
.form-control input:is(:focus, :valid) ~ label {
  font-size: 0.75rem;
  transform: translateY(-130%);
}
form button {
  width: 100%;
  padding: 16px 0;
  font-size: 1rem;
  background: #ca4a30;
  color: #fff;
  font-weight: 500;
  border-radius: 8px;
  border: none;
  outline: none;
  margin: 25px 0 10px;
  cursor: pointer;
  transition: 0.1s ease;
}
form button:hover {
  background: #f5330c;
}
.form-container a {
  text-decoration: none;
}
.form-container a:hover {
  text-decoration: underline;
}
.form-container :where(label, p, small, a) {
  color: #b3b3b3;
}
form .form-help {
  display: flex;
  justify-content: space-between;
}
form .remember-me {
  display: flex;
}
form .remember-me input {
  margin-right: 5px;
  accent-color: #b3b3b3;
}

.form-container a {
  color: #fff;
}

.icons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 24px;
}

.fa-google:hover {
  background: linear-gradient(to right, #4285f4, #34a853, #fbbc05, #ea4335);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.4s;
}
.fa-facebook-f:hover {
  cursor: pointer;
  color: #285076;
  transform: scale(1.2);
  transition: 0.4s;
}

.fa-envelope:hover {
  cursor: pointer;
  color: #f84437;
  transform: scale(1.2);
  transition: 0.3s;
}

@media (max-width: 740px) {
  body::before {
    display: none;
  }
  .form-container {
    padding: 20px;
  }

  .form-container {
    width: 100%;
    top: 43%;
  }
  .form-container form {
    margin: 25px 0 40px;
  }
}
