* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: rgb(94, 92, 91);

}

/* ----------------------------Header---------------------------------- */
.header-container {
    background-image: url(../img/bunkerM.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 85%;
    height: 180 px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-bottom: 3px solid white;
}

.title {
    font-size: 70px;
    font-family: "Pixelify Sans", sans-serif;
    text-align: center;
    color: #080808;
    text-shadow: 2px 2px 6px rgb(240, 235, 235);
    ;
}

li {
    list-style: none;
}

.btnVolver {
    margin-top: 20px; 
    margin-left: 10px;
    background-color: rgb(211, 200, 49);
    border-radius: 10px;
    padding: 3px;
    box-shadow: 2px 2px 5px 5px rgb(255, 255, 255);
}

.btnVolver:hover,
a:hover {
    background-color: #646161;
    transition: 0.5s;
    color: white;

}

.volver {
    font-size: 30px;
    font-family: "Pixelify Sans", sans-serif;
    color: #080808;
    font-weight: 800;
    text-decoration: none;
}

/* ------------------------------Formulario----------------------------- */
.contenedor {
    background-color: #6482c4;
    max-width: 500px;
    height: auto;
    margin: auto;
    background-image: url(../img/bunker.jpg);
    background-position: center;
    background-size: cover;
    object-fit: contain;
    margin-top: 30px;

}

#formulario {
    padding: 30px 10px;
    border: #080808 2px solid;
    box-shadow: 1px 1px 15px 5px rgb(212, 212, 189),
        1px 1px 15px 5px rgb(36, 36, 34);
}

.form-control {
    margin-bottom: 18px;
    padding-bottom: 25px;
    position: relative;
    /* background-color:  rgba(94, 50, 107, 0.041); */
}

.form-control label {
    font-family: "Pixelify Sans", sans-serif;
    display: inline-block;
    font-size: 34px;
    color: rgb(211, 200, 49);
    text-shadow: 2px 2px 3px black;
    width: 90%;
    margin: auto;
    text-align: center;
}

.form-control input {
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 8px 0;
    width: 80%;
    border-radius: 10px;
    margin: auto;
}

.form-control,
input:focus {
    outline: none;
}

input::placeholder {
    padding-left: 5px;
    color: #999290;
    font-family: "Pixelify Sans", sans-serif;
}

.form-control.ok input {
    border: 0.5px solid;
    border-color: #47cf4e;
}

.form-control.falla input {
    border: 0.5px solid;
    border-color: #e46b46;
}

.btnEnviar {
    background: #646160;
    border: 1px solid #3d3936;
    border-radius: 10px;
    color: rgb(211, 200, 49);
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 24px;
    font-family: "Pixelify Sans", sans-serif;
    text-shadow: 1px 1px 3px black;
}

.btnEnviar:hover {
    background-color: #3a3838;
    color: white;
    border: 1px solid white;
    transition: 0.5s;
}

.form-control p {
    visibility: hidden;
    position: absolute;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.form-control.falla p {
    visibility: visible;
    color: white;
    background-color: rgb(173, 7, 7);
}

.check {
    font-size: 25px;
    font-family: "Pixelify Sans", sans-serif;
    color: rgb(211, 200, 49);
    text-shadow: 2px 2px 4px black;
    width: 90%;
    margin: auto;
    text-align: center;
    padding-bottom: 25px;
}

.cuadrito {
    width: 20px;
    height: 20px;
}

.seleccion {
    font-size: 16px;
    padding: 5px;
    border-radius: 10px;
    margin-top: 12px;
    color: #383636;
    font-family: "Pixelify Sans", sans-serif;
}

/* -----------------------estilos footer------------------------------------------ */

footer {
    margin-top: 30px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    height: 200px;
    border-top: 3px solid white;
}

.textoFooter {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    text-shadow: 1px 1px 2px rgb(10, 10, 10);
}

footer p {
    margin-top: 10px;
    font-size: 20px;
}

.social-media {
    margin-top: 30px;
}

.social-media a {
    margin: 0 10px;
    display: inline-block;
}

.social-media img {
    width: 70px;
    height: 70px;
    transition: transform 0.3s;
    padding: 10px;
}

.social-media img:hover {
    transform: scale(1.2);
}

@media (max-width: 600px) {
    .title{
        font-size: 60px;
    }
    .form-control label{
        font-size: 26px;
    }
    .form-control input{
        font-size: 14px;
    }
    .btnEnviar{
        font-size: 20px;
    }
    .form-control p{
        font-size: 16px;
    }
    .check{
        font-size: 20px;
    }

    .textoFooter{
        font-size: 18px;
    }
    .social-media img{
        width: 60px;
        height: 60px;
        padding: 8px
    }
}